<header id="header">
  <div class="center">
    <!--Logo-->
    <div id="logo">
      <img src="assets/images/LogoBJ.png" class="App-logo" alt="Logotipo">  
      <span id="brand">
        <strong>Black</strong>Jack
      </span>

    </div>

    <!--Menu-->
    <nav id="menu">
      <ul>
        <li>
          <a routerLink="home" routerLinkActive="active">Inicio</a>
        </li>
        <li>
          <a routerLink="blog" routerLinkActive="active">Explicacion</a>
        </li>
        <li>
          <a routerLink="formulario" routerLinkActive="active">Formulario</a>
        </li>
        <li>
          <a routerLink="pagina1" routerLinkActive="active">Test 1</a>
        </li>
        <li>
          <a routerLink="home" routerLinkActive="active">Test 2</a>
        </li>
      </ul>
    </nav>
    <!--Limpiar flotados-->
    <div class="clearfix"></div>

  </div>
</header>
